pkgbase = nekodash-bin
	pkgdesc = Native Mihomo dashboard built with Rust and Slint
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/TTsdzb/nekodash
	arch = x86_64
	license = MIT
	depends = glibc
	depends = gcc-libs
	depends = fontconfig
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = wayland
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = libxrender
	provides = nekodash=0.1.4
	conflicts = nekodash
	options = !strip
	options = !debug
	source = nekodash-bin-0.1.4-x86_64.tar.gz::https://github.com/TTsdzb/nekodash/releases/download/v0.1.4/NekoDash-linux-x86_64.tar.gz
	sha256sums = f88b593f01d782a62322054036fc29426ffe4e991eae927934ff19f6d7272665

pkgname = nekodash-bin
